@page
@model WebApplication1.Pages.Finance.ReportsModel
@{
	ViewData["Title"] = "Reports";
}

<input id="current-user-id" type="hidden" value="@Model.UserData.Id" />

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary" id="finances-curr-month-area-chart-title">Monthly Finances</h6>
        <button type="button" id="download-button" class="btn btn-primary btn-sm">
            <i class="fas fa-file-download me-1"></i> Download Detailed Report
        </button>
    </div>
    <div class="card-body">
        <div class="chart-area">
            <canvas id="finances-curr-month-area-chart"></canvas>
        </div>
        <hr>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary" id="finances-sum-month-area-chart-title">Monthly Average</h6>
    </div>
    <div class="card-body">
        <select id="monthly-chart-select">
        </select>
        <div class="chart-area">
            <canvas id="finances-sum-month-area-chart"></canvas>
        </div>
        <hr>
    </div>
</div>

<script src="~/js/reports.js" asp-append-version="true"></script>
<script src="~/js/utils.js" asp-append-version="true"></script>