@page
@model WebApplication1.Pages.Account.ChangePasswordModel
@{
	ViewData["Title"] = "Change Password";
}

<div class="card mx-auto mt-5 shadow-sm" style="max-width: 500px;">
	<div class="card-header bg-primary text-white">
		<h4 class="mb-0">Change Password</h4>
	</div>
	<div class="card-body">
		<form>
			<div class="form-group">
				<label for="old-pw">Old Password</label>
				<input type="password" class="form-control" id="old-pw" name="old-pw" required>
			</div>
			<div class="form-group">
				<label for="new-pw">New Password</label>
				<input type="password" class="form-control" id="new-pw" name="new-pw" required>
			</div>
			<div class="form-group">
				<label for="conf-new-pw">Confirm New Password</label>
				<input type="password" class="form-control" id="conf-new-pw" name="conf-new-pw" required>
			</div>
			<div class="text-right">
				<button type="submit" id="change-pass" class="btn btn-primary">Update Password</button>
			</div>
		</form>
	</div>
</div>

<script src="~/js/utils.js" asp-append-version="true"></script>
<script>
	document.addEventListener("DOMContentLoaded", async function(){
		var currentUserId = await getCurrentUserId();

		document.getElementById("change-pass").addEventListener("click", async function(e){
			e.preventDefault();
			var oldPw = document.getElementById("old-pw").value;
			var newPw = document.getElementById("new-pw").value;
			var confNewPw = document.getElementById("conf-new-pw").value;

			changePassword(oldPw, newPw, confNewPw);
			
		});

		async function changePassword(oldPw, newPw, confNewPw){
			console.log(oldPw, newPw, confNewPw);
			if(newPw != confNewPw){
				displayBasicModal("Passwords don't match!", "error");
				return;
			}else if(oldPw == newPw){
				displayBasicModal("New password and old password can't match!", "error");
				return;
			}else{
			   // save new pw
				   try {
					const response = await fetch(`/api/User/${currentUserId}`, {
						method: "PUT",
						headers: {
							"Content-Type": "application/json"
						},
						body: JSON.stringify({
							Password: {
								oldPw: oldPw,
								newPw: newPw
							}
						})
					});
					if (!response.ok) {
						const text = await response.json();
						displayBasicModal(`Error! ${text["message"]}`, "error");
						console.log(`Error: ${response.status} - ${text}`);
						return;
					}
					displayBasicModal("Password changed!", "success");
				} catch (error) {
					console.error("Failed to save password:", error);
					displayBasicModal(`Failed to save password! ${error}`, "error");
				}
			}
		}
	});
</script>


