@page
@model WebApplication1.Pages.Groups.MyGroupsModel
@{
}

<div id="groups-container">
	<ul class="nav nav-tabs" id="groups-tab" role="tablist">
		
	</ul>
	<div class="tab-content" id="groups-tab-content">

	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var user = getCurrentUser();
		getGroupsForCurrentUser();
		
		async function getGroupsForCurrentUser() {
			const response = await fetch("/api/GroupMembership/ByUser", {
				method: "GET",
				 headers: {
					"Content-Type": "application/json",
					"Accept": "application/json"
				},
				credentials: "include"
			});

			if (!response.ok) {
				const errorMessage = await response.json();
				displayBasicModal("Something went wrong!", "Error");
				console.error(`Error: ${response.status} - ${errorMessage}`);
			} else {
				const result = await response.json()
				displayGroups(result);
			}
		}

		function displayGroups(result){
			var containerDiv = document.getElementById("groups-container");
			var groupsTab = document.getElementById("groups-tab");
			var groupsContent = document.getElementById("groups-tab-content");

			console.log("here");
			if (result.lentgh == 0){
				containerDiv.innerHTML = "No groups:(";
			}else{
				for(let i=0; i < result.length; i++){
					groupsTab.innerHTML += `
					<li class="nav-item">
					<a class="nav-link ${i == 0 ? 'active' : ''}" id="${i}-tab" data-toggle="tab" href="#content${i}" role="tab" aria-controls="content${i}" aria-selected="true">${i+1} Tab</a>
					</li>
					`

					groupsContent.innerHTML +=
					`
					<div class="tab-pane fade show ${i == 0 ? 'active' : ''}" id="content${i}" role="tabpanel" aria-labelledby="${i}-tab">$${result[i].name}</div>
					`
				}
			}
		}
	});
</script>