@page
@model WebApplication1.Pages.Groups.MyGroupsModel
@{
}

<div id="groups-div">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
		<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">haloo</div>
		<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var user = await getCurrentUser();
		
		async function updateUser(id, updateData) {
			const response = await fetch(`api/User/${id}`, {
				method: "PUT",
				 headers: {
					"Content-Type": "application/json",
					"Accept": "application/json"
				},
				credentials: "include",
				body: JSON.stringify(updateData)
			});

			if (!response.ok) {
				const errorMessage = await response.json();
				if (errorMessage["message"] == "Invalid email format.") {
					alert("Invalid email format!");
				}else if(errorMessage["message"] == "Username already taken."){
					alert("Username already taken!");
				}else {
					console.log(errorMessage);
					alert("Something went wrong!");
				}
				console.error(`Error: ${response.status} - ${errorMessage}`);
				return "User update failed.";
			} else {
				location.reload();
				return "User updated successfully!";
			}
		}
	});
</script>