<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - BetterSpend</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap4.css" />

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">BetterSpend</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a asp-page="/Index" class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                PERSONAL
            </div>

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" asp-page="/Profile/Index">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block"/>

            <!-- Heading -->
            <div class="sidebar-heading">
                FINANCE
            </div>

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" asp-page="/Finance/Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Expense Tracker</span>
                </a>
            </li>

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" asp-page="/Finance/Savings">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Savings</span>
                </a>
            </li>

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" asp-page="/Finance/Reports">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Reports</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block" />

            <!-- Heading -->
            <div class="sidebar-heading">
                GROUPS
            </div>

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" asp-page="/Groups/Index">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Create Group</span>
                </a>
            </li>

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" asp-page="/Groups/MyGroups">
                    <i class="fas fa-fw fa-user"></i>
                    <span>My Groups</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block" />

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" asp-page="/Account/Logout">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Logout</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block" />

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="~/img/undraw_rocket.svg" alt="...">
                <p class="text-center mb-2">
                    Smart money management is the first step toward saving and building wealth – Start your journey today!
                </p>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope fa-fw"></i>
                                <span class="badge badge-danger badge-counter" id="msg-badge-counter">0</span>
                            </a>

                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/img/undraw_profile_1.svg" alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">
                                            Hi there! I am wondering if you can help me with a
                                            problem I've been having.
                                        </div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/img/undraw_profile.svg" alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            I have the photos that you ordered last month, how
                                            would you like them sent to you?
                                        </div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/img/undraw_profile_3.svg" alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!
                                        </div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...
                                        </div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                            </div>
                        </li>


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <h3 id="fullname-label"></h3>
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <img class="img-profile rounded-circle"
                                     src="~/img/undraw_profile.svg" alt="User profile image">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/Profile">
                                    <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>


                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/Account/Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Basic Modal-->
    <div class="modal fade" id="basic-modal" tabindex="-1" role="dialog" aria-labelledby="basic-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadow-lg">
                <div id="basic-modal-header" class="modal-header bg-primary text-white">
                    <h5 class="modal-title font-weight-bold" id="basic-modal-title">Notification</h5>
                </div>
                <div class="modal-body">
                    <p id="basic-modal-text" class="mb-0"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" id="basic-modal-ok" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js" asp-append-version="true"></script>

    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap4.js" asp-append-version="true"></script>

    <script src="~/vendor/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>

    <script src="~/vendor/chart.js/Chart.min.js" asp-append-version="true"></script>

    <script src="~/js/utils.js" asp-append-version="true"></script>
    <script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>
    <script src="~/js/demo/chart-area-demo.js" asp-append-version="true"></script>
    <script src="~/js/demo/chart-pie-demo.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)

    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            const container = document.querySelector('[aria-labelledby="messagesDropdown"]');
            container.innerHTML = "";
            const invites = await fetchInvitesForCurrentUser();
            
            if (invites.length === 0) {
                const empty = document.createElement("span");
                empty.className = "dropdown-item text-center text-gray-500 small";
                empty.textContent = "No invites found.";
                container.appendChild(empty);
                document.getElementById("msg-badge-counter").textContent = 0;
                return;
            }else{
                document.getElementById("msg-badge-counter").textContent = invites.length;
            }

            invites.forEach(invite => {
                const a = document.createElement("a");
                a.className = "dropdown-item d-flex align-items-center";
                a.href = "#";

                const senderName = invite.senderName || `User ${invite.senderUserId}`;
                const groupName = invite.groupName || `Group ${invite.groupId}`;
                const status = invite.accepted === 1 ? "bg-success" : invite.accepted === 0 ? "bg-warning" : "";

                const wrapper = document.createElement("div");
                wrapper.className = "d-flex justify-content-between w-100 align-items-center";

                wrapper.innerHTML = `
                    <div class="d-flex align-items-center">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="/img/undraw_profile.svg" alt="...">
                            <div class="status-indicator ${status}"></div>
                        </div>
                        <div class="${status ? 'font-weight-bold' : ''}">
                            <div class="text-truncate">Invite to join ${groupName}</div>
                            <div class="small text-gray-500">From ${senderName}</div>
                        </div>
                    </div>
                    <div class="ml-2">
                        <button class="btn btn-success badge accept-btn" data-id="${invite.id}">Accept</button>
                        <button class="btn btn-danger badge decline-btn" data-id="${invite.id}">Decline</button>
                    </div>
                `;

                a.appendChild(wrapper);
                container.appendChild(a);
            });

            document.addEventListener("click", async function (e) {
                if (e.target.classList.contains("accept-btn")) {
                    e.preventDefault();
                    const id = e.target.getAttribute("data-id");
                    const response = await acceptGroupInvite(id);
                    const invite = await response.json();
                    console.log("éééééééééé");
                    console.log(invite);
                    await addGroupMembership(invite.groupId, invite.receiverUserId);
                } else if (e.target.classList.contains("decline-btn")) {
                    e.preventDefault();
                    const id = e.target.getAttribute("data-id");
                    declineGroupInvite(id);
                }
            });
            
            async function addGroupMembership(groupId, userId){
                console.log("####");
                console.log(groupId, userId);
                const response = await fetch(`/api/GroupMembership`,{
                    method: 'POST',
                    credentials: 'include',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'GroupId': groupId,
                        'UserId': userId,
                        'RoleId': 2
                    })

                })

                if(!response.ok){
                    displayBasicModal("Group membership could not be created!", "error");
                }else{
                    displayBasicModal("Successfully added to the group!", "success");
                }
            }
            async function acceptGroupInvite(inviteId){
                const response = await fetch(`/api/Invite/${inviteId}`, {
                    method: 'PATCH',
                    credentials: 'include',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'accepted': 1
                  })
                })
                if(!response.ok){
                    displayBasicModal("An error occured! Invite couldn't be accepted!", "error");
                }else{
                     displayBasicModal("Invite accepted!", "success");
                }
                return response;

            }
            async function declineGroupInvite(inviteId){
                displayBasicModal("Invite declined!", "error");
            }
            async function fetchInvitesForCurrentUser() {
                try {
                    const response = await fetch('/api/Invite/current', {
                        method: 'GET',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    if (!response.ok) {
                        throw new Error(`Error: ${response.status} ${response.statusText}`);
                    }

                    return await response.json();
                } catch (error) {
                    console.error("Failed to fetch current user invites:", error);
                    return [];
                }
            }
        });
    </script>


</body>

</html>